#Nombre{
    background-color: darkblue;
}

#Nombre0{ 
    background-color: darkblue;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    font-style: italic;
}


#Mi_Parrafo{ 
    font-style: italic;
    font-size: 20px;
    color: darkkhaki;
}

#Mi_Parrafo1{ 
    font-style: italic;
    font-size: 20px;
    color: darkkhaki;
}

#Mi_Parrafo2{ 
    font-style: italic;
    font-size: 20px;
    color: darkkhaki;
}


#Mi_Parrafo4{
    font-style: italic;
    font-size: 20px;
    color: darkkhaki;
}

#Mi_Parrafo5{
    font-style: italic;
    font-size: 20px;
    color: darkkhaki;
}

#Secun0{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: antiquewhite;
    border-width:4px;
    border-style:double;
    background-color: darkred;
}

#Secun1{ font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: aquamarine;

}

#Secun2{ font-family: Arial, Helvetica, sans-serif;
         font-size: 20px;
         color: aquamarine 

}

#Secun3{ font-family: Arial, Helvetica, sans-serif;
         font-size: 20px;
         color: aquamarine;
}

#Univ0{ font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: antiquewhite;
    border-width:4px;
    border-style:double;
    background-color: darkred;
}


#Univ1{  font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aquamarine;
}

#Univ2{ font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aquamarine;
}

#Univ3{ font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aquamarine;
}

#Univ4{ font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aquamarine;

}

#Univ5{ font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aquamarine;

}

#Univ6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aquamarine;
}

#Univ7{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aquamarine;
}

#Univ8{font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aquamarine;}

    #Univ9{font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: aquamarine;}

        
#Lab0{ font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-size: 25px;
       color: antiquewhite;
       border-width:4px;
       border-style:double;
       background-color: darkred;
    
}

#Lab1{font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aquamarine;

}

#Lab2{font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aquamarine;}

#Lab3{font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aquamarine;}

#Lab4{ font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aquamarine;}

#Lab5{font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aquamarine;

}

#Lab6{font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aquamarine;}

#legend{
    font-family: 'Bitter', serif;
    font-size: 14px;
    border:3px solid brown;
    border-radius:22px;
    background-color: aqua;
    color: black;
}

fieldset{
    
    background-color: brown;


}

fieldset{
    
background-color: brown;
    color: beige;
}

.Botoncito{
	padding:20px;
	background: green;
	font-size:20px;
	color:black;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;}

    .BotonCol{
        background: darkblue;
        color: black;
        cursor:pointer;
	;
    }